@media (max-width: 767px) {
  #header-text {
    display: none;
  }
  #buttom-menu {
    display: flex;
  }
  #headermenu {
    justify-content: space-between;
  }
  #frame12 {
    width: 100%;
    /* height: 500px; */
    background: url(/images/mobile16pro.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #frame1 {
    margin-top: 450px;
  }
  #frame12-1 {
    width: 100%;
    /* height: 500px; */
    background: url(/images/mobile16problue.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #frame12-2-background {
    display: none;
  }
  #b1 {
    display: none;
  }

  #b2 {
    display: none;
  }
  #b3 {
    display: none;
  }
  #b4 {
    display: none;
  }
  #b5 {
    display: none;
  }

  #b6 {
    display: none;
  }

  #b1mobile {
    background: url(/images/background1.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #b2mobile {
    background: url(/images/tab2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: 0;
    justify-content: center;
    align-items: end;
    display: flex;
    padding-bottom: 20px;
  }
  #b3mobile {
    background: url(/images/tab3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: 0;
    justify-content: center;
    align-items: start;
    display: flex;
    padding-top: 1px;
  }
  #b4mobile {
    background: url(/images/background4\ copy.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: 0;
    justify-content: center;
    align-items: start;
    display: flex;
    padding-top: 1px;
  }
  #b5mobile {
    background: url(/images/tab4.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: 0;
    justify-content: center;
    align-items: start;
    display: flex;
    padding-top: 1px;
  }
  #b6mobile {
    background: url(/images/tab5.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: 0;
    justify-content: center;
    align-items: start;
    display: flex;
    padding-top: 1px;
  }
  #b7mobile {
    background: url(/images/background5.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: 0;
    justify-content: center;
    align-items: start;
    display: flex;
    padding-top: 1px;
  }
}
